html
	head
		title admin
		link(rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="style.css")
	body#admin
		h1#h1 Côté admin du blog
		a(href='public') public
		form(method='GET' action='/addFichier')
		div.form-group
			label(for='title') Title
			input#title.form-control(type='text' name='title')
		div.form-group
			label(for='article') Article
			textarea#article.form-control(type='text' name='article')
		div.form-group
			button#submit.btn.btn-info(type='button') Envoyer

		script(type="text/javascript" src="node_modules/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="admin.js")
