html
	head
		title Mon Blog-pug
		link(rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
	body
		form(method='GET' action='/blog')
		nav.navbar.navbar-default
			div.group-form
				a(href='admin') admin
			div.group-form
				a.brand-logo(href='public') Blog côté public
			div.group-form
				a(href='public') public
		
		script(type="text/javascript" src="node_modules/jquery/dist/jquery.min.js")
				